<link rel="stylesheet" type="text/css" href="./app/todoList/todoList.css">
<div class="todoList">
  <div class="list-group-item" >
  <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
  <textarea rows="1" id="new-todo" ng-disabled="saving" ng-change="changeFunction()" ng-model=todo.title></textarea>
  
  <button class="destroy" data-toggle="modal" data-target="#deleteModal" ng-hide="needsSave"></button>
  <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" ng-show="needsSave" ng-click="saveEdits()"></span>
  </div>

  <!-- usersystemapps -->
  <div class="panel panel-success" ng-show="hasUserSystemApp">
    <div class="panel-heading">{{hasUserSystemApp ? 'Recommanded Apps' : ''}}</div>
    <div class="panel-body">
      <div ng-repeat="app in userSystemApps track by $index">
        <a class="col-xs-4 col-md-4" style="padding: 0;" href={{app.url}} ng-click="upsertPreference(app)">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{app.name}}</h3>
              <p class="subp">{{app.cat}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="hasSystemApp">
    <div class="panel-heading">{{hasUserSystemApp ? 'Other Apps' : 'Related Apps'}}</div>
    <div class="panel-body">
      <!-- other system apps -->
      <div ng-repeat="app in apps track by $index">
        <a class="col-xs-4 col-md-4" style="padding: 0;" href={{app.url}} ng-click="upsertPreference(app)">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{app.name}}</h3>
              <p class="subp">{{app.cat}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete "{{todo.title}}"?</h4>
      </div>
      <div class="modal-body">
        Deleted todo list will no longer shows in your list
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="removeTodo(todo)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete "{{todo.title}}"?</h4>
      </div>
      <div class="modal-body">
        Deleted todo list will no longer shows in your list
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="saveEdits(todo, 'submit')">Save</button>
      </div>
    </div>
  </div>
</div>