.me .name
{
    display: inline-block;
    margin-left: 10px;
}
.me .avatar
{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: -14px;
}
.me .topbar
{
    float: right;
}
.me .list-group-item-heading
{
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.me .list-group-item-text
{
    float: right;
    margin-right: 40px;
}

.me a
{
    color: inherit;
    cursor: pointer;
}

.me .form-group
{
    float: left;
    display: inline-block;
    width: 46%;
    margin-bottom: 0px;
    margin-left: 4px;
}

.me .dropdown
{
    float: right;
    display: inline-block;
    width: 52%;
    margin-top: 4px;
}

.me .form-control
{
    height: 28px;
}